@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-text {
    @apply w-full border border-gray-300 rounded-md px-3 py-2 tracking-widest focus:outline-purple-500;
  }

  .error-message {
    @apply text-red-400 tracking-wide mt-1 text-sm;
  }

  .list-item {
    @apply p-2 cursor-pointer transition-all hover:text-lg;
  }

  .border-none {
    @apply -webkit-tap-highlight-color;
  }
}

input::-webkit-calendar-picker-indicator,
input::-webkit-list-button {
  opacity: 0;
}

/* hide scrollbar but allow scrolling */
.no-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
